@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ===========================
   Global Variables
=========================== */
:root {
  --text-color: #ffffff;
  --text-primary: #1f1854;
  --bg-color: #ffffff;
  --primary: #bfe2f5;
  --secondary: #6bb4fd;
  --accent: #99abc3;
  --body-text: #707476;
}

/* ===========================
   Base Styles
=========================== */
body {
  font-family: "Kantumruy Pro", sans-serif;
  color: var(--body-text);
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* ===========================
  & Navbar
=========================== */
.navbar {
  padding: 14px;
}

/* Logo */
.navbar .navbar-brand img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Nav Links */
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-primary);
  position: relative;
  transition: color 0.3s ease;
}

/* Active Link */
.navbar .navbar-nav .nav-item .nav-link.active {
  border-bottom: 2px solid var(--text-primary);
}

/* Hover Underline Animation */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: var(--text-primary);
  transition: width 0.3s ease;
}
.navbar .nav-link:hover::after {
  width: 100%;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    display: inline-block !important;
    margin: 8px 0;
  }
}

/* ====================HERO DEPARTMENT [START]================ */
.hero_department {
  min-height: 80vh;
  padding-top: 100px;
  /* padding: 800px 10px; */
  background: url("../img/department_img/hero_bg.svg") center/cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
}
.hero_department h1 {
  color: var(--text-primary);
}
.hero_department p {
  color: var(--text-primary);
  font-weight: 500;
}
.hero_department img {
  /* width: 4000px; */
  height: 100%;
  max-height: 90vh;
  object-fit: cover;
}
.hero-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 500px; /* adjust as needed */
}

.about-us-hero {
  background: url("../img/about-us/banner_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}
.about-us-hero .about-us-text {
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about-us-hero .about-us-text h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  color: var(--text-primary);
}
.about-us-hero .about-us-image {
  height: 90vh;
  display: flex;
  align-items: flex-end;
}
img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.about-service {
  padding: 70px 0;
}
.about-service .service-text {
  height: 300px;
}
.about-service .service-card {
  height: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 30px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.about-service .service-card .service-icon {
  width: 50px;
  height: 50px;
  background-color: var(--secondary);
  color: var(--text-color);
  text-align: center;
  align-content: center;
  border-radius: 10px;
}
.about-service .service-card .service-body {
  margin: 20px 0;
}
.about-service .service-card .service-body h4 {
  color: var(--text-primary);
}
.about-service .service-card .service-body p {
  color: var(--text-primary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.about-service .service-card .more-detail {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: var(--secondary);
  border-radius: 10px 0 0 0;
  color: var(--text-color);
}
.about-service .service-card .more-detail:hover {
  background-color: rgba(107, 180, 253, 0.701);
}
.about-service .service-card .more-detail:hover i {
  transform: scale(1.1);
  transition: 0.2s;
}
.small-text {
  font-size: 40px;
  color: var(--secondary);
}

/* Why Choose Us Section */
.why-choose-us{
  padding: 70px 0;
  /* background-color: #1f1854; */
}
.why-choose-us .choose-us-image{
  height: 600px;
}
.why-choose-us .choose-us-image img{
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.why-choose-us .choose-us-content{
  height: 600px;
}
.why-choose-us .choose-us-content{
  height: 600px;
}
.why-choose-us .choose-us-content .choose-us-card{
  padding: 20px 0;
  height: auto;
}
.why-choose-us .choose-us-content .choose-us-card .choose-us-icon{
  width: 50px;
  height: 50px;
  background-color: var(--secondary);
  color: var(--text-color);
  text-align: center;
  align-content: center;
  border-radius: 10px;
}
.why-choose-us .choose-us-content .choose-us-card .service-body {
  margin: 20px 0;
}
.why-choose-us .choose-us-content .choose-us-card .service-body h4 {
  color: var(--text-primary);
}
.why-choose-us .choose-us-content .choose-us-card .service-body p {
  color: var(--text-primary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Responsive */
@media (max-width: 1440px) {
  .about-us-hero {
    height: 60vh;
  }
  .about-us-hero .about-us-image,
  .about-us-hero .about-us-text {
    height: 60vh;
  }
}
@media (max-width: 1024px) {
  .about-us-hero {
    height: 40vh;
  }
  .about-us-hero .about-us-image,
  .about-us-hero .about-us-text {
    height: 40vh;
  }
  .about-us-hero .about-us-image h2 {
    font-size: 35px;
  }
  
}
@media (max-width: 820px) {
  .about-us-hero {
    height: 40vh;
  }
  .about-us-hero .about-us-image {
    display: none;
  }
  .about-us-hero .about-us-text {
    justify-content: center;
    align-items: center;
  }
  .about-us-hero .about-us-text h2 {
    font-size: 60px;
    line-height: 90px;
  }
  .about-us-hero .about-us-image,
  .about-us-hero .about-us-text {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .about-us-hero .about-us-text h2 {
    font-size: 50px;
    line-height: 70px;
  }
}
@media (max-width: 600px) {
  .about-us-hero {
    height: 80vh;
  }
  .about-us-hero .about-us-text {
    height: 80vh;
  }
  .about-us-hero .about-us-text h2 {
    font-size: 50px;
    line-height: 70px;
  }

  /* Service */
  .about-service .service-text {
    height: auto;
    margin-bottom: 30px;
  }
}
