@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===========================
   Global Variables
=========================== */
:root {
  --text-color: #ffffff;
  --text-primary: #1f1854;
  --bg-color: #ffffff;
  --primary: #bfe2f5;
  --secondary: #6bb4fde1;
  --accent: #99abc3;
  --body-text: #707476;
}

.bg-dark-blue {
  background-color: #0b2545 !important;
  /* dark blue */
  transition: background-color 0.3s;
}

header,
header a,
header a.nav-link {
  color: #ffffff !important;
  /* force white text and links */
  transition: color 0.3s;
  font-size: 17px;
}

/* ===========================
   Base Styles
=========================== */
body {
  font-family: "Kantumruy Pro", sans-serif;
  color: var(--body-text);
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* ===========================
  & Navbar
=========================== */
.navbar {
  width: 100%;
  padding: 12px;
}

/* Logo */
.navbar .navbar-brand img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Nav Links */
.navbar .navbar-nav .nav-item .nav-link {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-primary);
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap;
}

/* Active Link */
.navbar .navbar-nav .nav-item .nav-link.active {
  border-bottom: 2px solid var(--text-color);
}

/* Dropdown menu background */
.dropdown-menu {
  background-color: #02305c;
  /* dark blue */
  border-radius: 8px;
}

/* Dropdown text color */
.dropdown-menu .dropdown-item {
  color: #fff;
}

/* Hover effect */
.dropdown-menu .dropdown-item:hover {
  background-color: #0066cc;
  color: #fff;
}

/* Custom buttons */
.btn-custom {
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 18px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-signin {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: #fff;
  font-size: 17px;
  white-space: nowrap;
}

.btn-signin:hover {
  background-color: var(--primary);
  color: #004a8f;
}

.btn-register {
  background-color: var(--text-primary);
  border: 2px solid var(--accent);
  color: #fff;
  margin-left: 10px;
  font-size: 17px;
  white-space: nowrap;
}

.btn-register:hover {
  background-color: #004a8f;
  border-color: var(--accent);
}

.hero-btn {
  background-color: #02305c;
  color: var(--text-color);
}

.hero-btn:hover {
  background-color: #004a8f;
}

.experience h2,
.experience p {
  color: var(--text-primary) !important;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    display: inline-block !important;
    margin: 8px 0;
  }
}

/* ==========================[End Header]=============================== */
.page_heading {
  background: #fff;
  box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
}

.page_heading_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 0;
}

.breadcrumb {
  margin: 0;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumb .breadcrumb-item {
  display: list-item;
  unicode-bidi: isolate;
}

.breadcrumb .breadcrumb-item a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(39, 71, 96, 0.52);
  float: left;
}

.search_form {
  max-width: 360px;
  width: 100%;
  position: relative;
}

.search_form input {
  width: 100%;
  border: 1px solid #307bc4;
  height: 50px;
  border-radius: 20px;
  padding: 5px 20px;
  outline: none;
}

input,
textarea {
  color: #274760;
}

.search_form .search_btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #274760;
}

.search_form .search_btn {
  position: absolute;
}

/* ==================[DOctor Detail]======================== */
.doctor-details {
  position: relative;
}

@media (max-width: 1700px) {
  .doctor_details .doctor_details_bg {
    height: 420px;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}

/* ==========================[Banner]================================ */
.space-170 {
  height: 170px;
}

.space-200 {
  height: 200px;
}

.banner {
  /* background-image: url(assets/img/doctor/doctor_details_bg.svg); */
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 200px;
}

.bg-banner {
  position: absolute;
  top: 270px;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 440px;
  background: url(../img/doctor/doctor_details_bg.svg);
}

@media (max-width: 1440px) {
  .bg-banner {
    margin-top: 0;
  }
}

@media (max-width: 820px) {
  .bg-banner {
    margin-top: 50px;
  }
}

@media (max-width: 390px) {
  .bg-banner {
    margin-top: 70px;
    min-height: 280px;
  }
}

.banner .banner-image {
  z-index: 222;
  width: 100%;
}

.banner .banner-image img {
  width: 100%;
  border-radius: 20px;
}

.banner .banner-image .departmant {
  background-color: #307bc4;
  text-align: center;
  border-radius: 0 0 20px 20px;
  width: 100%;
  font-size: 25px;
  color: #fff;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.banner .banner-title {
  z-index: 222;
  margin-top: 90px;
  width: 80%;
}

.banner .banner-title h3 {
  font-size: 37px;
  color: #3c5d74;
}

.banner .banner-title .subtitle {
  font-size: 25px;
  font-weight: 500;
  color: #3c5d74;
}

.banner .banner-title p {
  font-size: 18px;
  color: #3c5d74;
}

.banner .social {
  display: flex;
  position: absolute;
  padding: 20px 40px;
  right: 488px;
  border-radius: 20px;
  animation: Asocial 5s ease-in-out infinite alternate;
  background: #1976d2;
  top: 64%;
  transform: translateY(-50%);
}

.fa-regular {
  color: #0ea6df;
}

.banner .social a {
  display: inline-block;
  margin-right: 10px;
  background: #ffffff;
  color: #1976d2;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: 0.3s;
}

.banner .social a:hover {
  transform: scale(1.2);
}

.schedule {
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 0px 13px -7px #0ea6df;
}

.schedule li span,
.schedule li {
  color: #0b2545;
  font-size: 18px;
  line-height: 45px;
}

/* ================Appointment========================== */
.appointment,
.appointment .card {
  background: linear-gradient(135deg, #f0f9ff, #e0f7fa);
}

.appointment .card .appointment-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.appointment .card .card-title .book-appointment {
  color: black;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
}

.appointment .card .card-title .title-appointment {
  color: black;
  font-weight: bold;
  font-size: 50px;
}

.appointment .card form input,
.appointment .card form select {
  padding: 15px 20px;
  border: 1px solid #2ca4c2;
  border-radius: 20px;
}

.appointment .card .btn-submit .btn {
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: 500;
  background: linear-gradient(to right, #2e6fae, #2a5377);
}

@media (min-width: 992px) {
  .banner .social {
    right: 100px;
    top: 390px;
    transform: none;
  }
}

/*===================== footer================================ */
.footer {
  background: linear-gradient(to left, #04326b, #062c5a, #0b2545 100%);
}

.footer .f-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}

.footer .f-link:hover {
  color: var(--secondary);
  padding-left: 5px;
}

.footer .social-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}

.footer .bg-fb {
  background-color: #1877f2;
}

.footer .bg-linkin {
  background-color: #0a66c2;
}

.footer .bg-ig {
  background: linear-gradient(#5b51d8, #e1306c, #fcaf45);
}

.footer .social-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 1024px) {
  .navbar .navbar-nav {
    background-color: #004a8f;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .testimonial {
    height: 50vh;
    margin-bottom: 0;
  }

  .doctor {
    height: 50vh;
  }

  .appointment .card .appointment-image {
    margin-top: 210px !important;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    display: inline-block !important;
    margin: 8px 0;
  }
}

@media (max-width: 820px) {
  .testimonial {
    height: auto;
  }

  .doctor {
    height: auto;
  }

  .appointment .card .appointment-image {
    display: none !important;
  }
}
