@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===========================
   Global Variables
=========================== */
:root {
  --text-color: #ffffff;
  --text-primary: #1f1854;
  --bg-color: #ffffff;
  --primary: #bfe2f5;
  --secondary: #6bb4fde1;
  --accent: #99abc3;
  --body-text: #707476;
}

.bg-dark-blue {
  background-color: #0b2545 !important;
  /* dark blue */
  transition: background-color 0.3s;
}

header,
header a,
header a.nav-link {
  color: #ffffff !important;
  /* force white text and links */
  transition: color 0.3s;
  font-size: 17px;
}

/* ===========================
   Base Styles
=========================== */
body {
  font-family: "Kantumruy Pro", sans-serif;
  color: var(--body-text);
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* ===========================
  & Navbar
=========================== */
.navbar {
  width: 100%;
  padding: 12px;
}

/* Logo */
.navbar .navbar-brand img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Nav Links */
.navbar .navbar-nav .nav-item .nav-link {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-primary);
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap;
}

/* Active Link */
.navbar .navbar-nav .nav-item .nav-link.active {
  border-bottom: 2px solid var(--text-color);
}

/* Hover Underline Animation */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

/* Dropdown menu background */
.dropdown-menu {
  background-color: #02305c;
  /* dark blue */
  border-radius: 8px;
}

/* Dropdown text color */
.dropdown-menu .dropdown-item {
  color: #fff;
}

/* Hover effect */
.dropdown-menu .dropdown-item:hover {
  background-color: #0066cc;
  color: #fff;
}

/* Custom buttons */
.btn-custom {
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 18px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-signin {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: #fff;
  font-size: 17px;
  white-space: nowrap;
}

.btn-signin:hover {
  background-color: var(--primary);
  color: #004a8f;
}

.btn-register {
  background-color: var(--text-primary);
  border: 2px solid var(--accent);
  color: #fff;
  margin-left: 10px;
  font-size: 17px;
  white-space: nowrap;
}

.btn-register:hover {
  background-color: #004a8f;
  border-color: var(--accent);
}

.hero-btn {
  background-color: #02305c;
  color: var(--text-color);
}

.hero-btn:hover {
  background-color: #004a8f;
}

.experience h2,
.experience p {
  color: var(--text-primary) !important;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    display: inline-block !important;
    margin: 8px 0;
  }
}

/* ============== Banner================== */
.banner {
  background-image: url(../img/doctor/banner_bg.svg);
}

.banner .banner_text {
  margin-left: 120px;
}

.banner .banner_text .banner_title {

  color: #284760;
  font-size: 60px;
  font-weight: 600;
}

.banner .banner_text .banner_subtitle {
  color: #284760;
  font-size: 20px;
}


@media (max-width:820px) {
  .col-lg-6 {
    width: 95%;
  }

  .banner .banner_text {
    text-align: center;

  }

  .banner .banner_img img {
    display: none;
  }

  .banner {
    display: flex;
    align-items: center;
    height: 500px;
  }

  .banner .banner_text .banner_title {
    text-align: center;
    color: #284760;
    font-size: 55px;
    font-weight: 600;
  }

  .banner .banner_text .banner_subtitle {
    margin-top: 0x;
  }

}

/* ==========ebd Hero======== */

.height_65 {
  height: 65px;
}

.bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.doctors_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .isotop_filter.style1 {
    gap: 20px 30px;
  }

  .banner {
    display: flex;
    align-items: center;
    height: 500px;
  }

  .banner .banner_text .banner_title {

    color: #284760;
    font-size: 40px;
    font-weight: 600;
  }


}

.isotop_filter.style1 {
  display: flex;
  align-items: center;
  gap: 10px 50px;
}

@media (max-width: 820px) {
  .isotop_filter.style1 ul {
    gap: 10px;
    display: flex;
    flex-wrap: nowrap;
  }

  .isotop_filter p {
    margin-top: -64px;

  }
}

.isotop_filter.style1 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 36px;
}

.mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .isotop_filter.style1 ul {
    gap: 20px;
  }

  .banner .banner_text {
    margin-left: 20px;
  }

  .mb-0 {
    margin-bottom: -51px !important;
  }

  .banner .banner_img img {
    margin-left: -58px;
    max-width: 110%;
  }
}

.isotop_filter.style1 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 36px;
}

.mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}


.isotop_filter.style1 ul a {
  border: 1px solid #307bc4;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #274760;
  padding: 11px 26px;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}

.isotop_filter.style1 ul .active {
  background-color: #307bc4;
  color: #fff;
  border-radius: 20px;

}

.isotop_filter.style1 ul a:hover {
  background-color: #307bc4;
  color: #fff;
}


.view_box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.view_box_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.view_box_in button.active {
  opacity: 1;
  color: #307bc4;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.view_box_in button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  opacity: 0.5;
}

[type=button],
[type=reset],
[type=submit],
button {
  color: inherit;
  transition: all 0.3s ease;
}

img,
svg {
  vertical-align: middle;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.view_box_in button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  opacity: 0.5;
}

[type=button],
[type=reset],
[type=submit],
button {
  color: inherit;
  transition: all 0.3s ease;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

img,
svg {
  vertical-align: middle;
}

img {
  overflow: clip;
}

/* =========================[Doctor]========================== */

.doctor-detail .doctor-card .card-body .card-subtitle {
  color: #0b2545;

}

.doctor-title p {
  color: #5592CE;
  font-size: 30px;
  font-weight: 500;
}

.doctor-detail .card-body .card-text {
  color: #a0a6ab;
}


.doctor-title h2 {
  color: #284760;
  font-size: 54px;
  font-weight: 600;
}

.doctor-card {
  border-radius: 20px;

  background: transparent;
}

.doctor-card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;

}

.doctor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}


.doctor-img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(154deg, rgba(210, 234, 239, 0.27) 0%, rgba(134, 187, 241, 0.27) 100%);
  box-shadow: initial;
  transition: all 0.4s ease;
}

.doctor-img-wrapper img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.doctor-card:hover .doctor-img-wrapper img {
  transform: scale(1.05);
}

.doctor-social {
  bottom: 10px;
  left: 49%;
  gap: 10px;
  transition: opacity 0.3s;
}

.doctor-card:hover .doctor-social {
  opacity: 1;
}

.doctor-social a {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #307BC4;
  color: #fff;
  border-radius: 50%;
  transition: background 0.3s;
}

.doctor-social a:hover {
  background: #0056b3;
}

.card-title a {
  text-decoration: none;
  font-size: 25px;
  color: #0b2545;
  transition: color 0.3s;
}

.card-title a:hover {
  color: #0d6efd;
}


.departmant {
  justify-content: center;
  align-items: center;
  background-color: #307BC4;
  display: flex;
  color: #fff;
  margin-left: 60px;
  border-radius: 20px 20px 0 0;
  height: 50px;
  width: 70%;
  z-index: 22;
  bottom: 0;

}


/*===================== footer================================ */
.footer {
  background: linear-gradient(to left, #04326b, #062c5a, #0b2545 100%);
}
.footer .f-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}
.footer .f-link:hover {
  color: var(--secondary);
  padding-left: 5px;
}
.footer .social-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}
.footer .bg-fb {
  background-color: #1877f2;
}
.footer .bg-linkin {
  background-color: #0a66c2;
}
.footer .bg-ig {
  background: linear-gradient(#5b51d8, #e1306c, #fcaf45);
}
.footer .social-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 1024px) {
  .navbar .navbar-nav {
    background-color: #004a8f;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .testimonial {
    height: 50vh;
    margin-bottom: 0;
  }
  .doctor {
    height: 50vh;
  }
  .appointment .card .appointment-image {
    margin-top: 210px !important;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    display: inline-block !important;
    margin: 8px 0;
  }
}
@media (max-width: 820px) {
  .testimonial {
    height: auto;
  }
  .doctor {
    height: auto;
  }
  .appointment .card .appointment-image {
    display: none !important;
  }
}
