@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===========================
   Global Variables
=========================== */
:root {
  --text-color: #ffffff;
  --text-primary: #1f1854;
  --bg-color: #ffffff;
  --primary: #bfe2f5;
  --secondary: #6bb4fd;
  --accent: #99abc3;
  --body-text: #707476;
}
.bg-dark-blue {
  background-color: #0b2545 !important; /* dark blue */
  transition: background-color 0.3s;
}
header,
header a,
header a.nav-link {
  color: #ffffff !important; /* force white text and links */
  transition: color 0.3s;
}

/* ===========================
   Base Styles
=========================== */
body {
  font-family: "Kantumruy Pro", sans-serif;
  color: var(--body-text);
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* ===========================
  & Navbar
=========================== */
.navbar {
  width: 100%;
  padding: 12px;
}

/* Logo */
.navbar .navbar-brand img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Nav Links */
.navbar .navbar-nav .nav-item .nav-link {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-primary);
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap;
}

/* Active Link */
.navbar .navbar-nav .nav-item .nav-link.active {
  border-bottom: 2px solid var(--text-color);
}

/* Dropdown menu background */
.dropdown-menu {
  background-color: #02305c; /* dark blue */
  border-radius: 8px;
}

/* Dropdown text color */
.dropdown-menu .dropdown-item {
  color: #fff;
}

/* Hover effect */
.dropdown-menu .dropdown-item:hover {
  background-color: #0066cc;
  color: #fff;
}

/* Custom buttons */
.btn-custom {
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 18px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-signin {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: #fff;
  font-size: 17px;
  white-space: nowrap;
}

.btn-signin:hover {
  background-color: var(--primary);
  color: #004a8f;
}

.btn-register {
  background-color: var(--text-primary);
  border: 2px solid var(--accent);
  color: #fff;
  margin-left: 10px;
  font-size: 17px;
  white-space: nowrap;
}

.btn-register:hover {
  background-color: #004a8f;
  border-color: var(--accent);
}
.hero-btn {
  background-color: #02305c;
  color: var(--text-color);
}
.hero-btn:hover {
  background-color: #004a8f;
}
.experience h2,
.experience p {
  color: var(--text-primary) !important;
}
/* ================HERO-BANNER[START]==================== */
.hero_department {
  height: auto;
  background: url("../img/banner_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 650px;
}
.banner .banner-text h3 {
  font-weight: bold;
  color: var(--text-primary);
  font-size: 50px;
}
.banner .banner-image {
  height: 650px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.banner .banner-image img {
  height: 128%;
  width: 100%;
  object-fit: contain;
}

.timetable {
  padding: 40px 0;
}
.timetable .timetable-title {
  margin: 40px 0;
  color: var(--text-primary);
}
table thead {
  background-color: var(--bg-color) !important;
  color: var(--text-primary) !important;
}

.schedule-table table thead th {
  padding: 25px 50px;
  color: #fff;
  background-color: var(--bg-color);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  border: 0;
}
.schedule-table table thead th:before {
  content: "";
  width: 3px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.schedule-table table thead th.last:before {
  content: none;
}
.schedule-table table tbody td {
  vertical-align: middle;
  border: 1px solid #e2edf8;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}
.schedule-table table tbody td.hour {
  font-size: 18px;
  font-weight: 600;
  background: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #e4e4e4;
  position: relative;
  transition: all 0.3s linear 0s;
  min-width: 165px;
  white-space: nowrap;
}
.schedule-table table tbody td.active {
  position: relative;
  z-index: 10;
  transition: all 0.3s linear 0s;
  min-width: 165px;
}
.schedule-table table tbody td.active h4 {
  font-weight: 700;
  color: #000;
  font-size: 20px;
  margin-bottom: 5px;
}
.schedule-table table tbody td.active p {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 0;
}
.schedule-table table tbody td .hover h4 {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}
.schedule-table table tbody td .hover p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #ffffff;
  line-height: normal;
}
.schedule-table table tbody td .hover span {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
.schedule-table table tbody td.active::before {
  position: absolute;
  content: "";
  min-width: 100%;
  min-height: 100%;
  transform: scale(0);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.25rem;
  transition: all 0.3s linear 0s;
}
.schedule-table table tbody td .hover {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 99999;
  background: var(--bg-color);
  border-radius: 0.25rem;
  padding: 25px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear 0s;
}
.schedule-table table tbody td.active:hover .hover {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}
.schedule-table table tbody td.day:hover {
  background: #86d4f5;
  color: #fff;
  border: 1px solid #86d4f5;
}
@media screen and (max-width: 1199px) {
  .schedule-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .schedule-table table thead th {
    padding: 25px 40px;
  }
  .schedule-table table tbody td {
    padding: 20px;
  }
  .schedule-table table tbody td.active h4 {
    font-size: 18px;
  }
  .schedule-table table tbody td.active p {
    font-size: 15px;
  }
  .schedule-table table tbody td.day {
    font-size: 20px;
  }
  .schedule-table table tbody td .hover {
    padding: 15px 0;
  }
  .schedule-table table tbody td .hover span {
    font-size: 17px;
  }
  .banner {
    height: 500px;
    overflow: hidden;
  }
  .banner .banner-text {
    justify-content: center;
  }
  .banner .banner-text h3 {
    font-size: 35px;
  }
  .banner .banner-image img {
    height: 115%;
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 991px) {
  .schedule-table table thead th {
    font-size: 18px;
    padding: 20px;
  }
  .schedule-table table tbody td.day {
    font-size: 18px;
  }
  .schedule-table table tbody td.active h4 {
    font-size: 17px;
  }
  .banner {
    height: auto !important;
  }
  .banner .banner-text {
    height: 300px;
    justify-content: flex-end;
  }
  .banner .banner-image {
    height: 450px;
  }
}
@media screen and (max-width: 767px) {
  .schedule-table table thead th {
    padding: 15px;
  }
  .schedule-table table tbody td {
    padding: 15px;
  }
  .schedule-table table tbody td.active h4 {
    font-size: 16px;
  }
  .schedule-table table tbody td.active p {
    font-size: 14px;
  }
  .schedule-table table tbody td .hover {
    padding: 10px 0;
  }
  .schedule-table table tbody td.day {
    font-size: 18px;
  }
  .schedule-table table tbody td .hover span {
    font-size: 15px;
  }
  .banner {
    height: 100vh !important;
  }
  .banner .banner-text {
    height: 300px;
    justify-content: flex-end;
  }
  .banner .banner-image {
    height: 400px;
  }
  .banner .banner-image img {
    height: 130%;
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 575px) {
  .schedule-table table tbody td.day {
    min-width: 135px;
  }
}
/* footer */
.footer .f-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}
.footer .f-link:hover {
  color: #06b6d4;
  padding-left: 5px;
}
.footer .social-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
}
.footer .social-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 1024px) {
  .navbar .navbar-nav {
    background-color: #004a8f;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .testimonial {
    height: 50vh;
    margin-bottom: 0;
  }
  .doctor {
    height: 50vh;
  }
  .appointment .card .appointment-image {
    margin-top: 210px !important;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    display: inline-block !important;
    margin: 8px 0;
  }
}
@media (max-width: 820px) {
  .testimonial {
    height: auto;
  }
  .doctor {
    height: auto;
  }
  .appointment .card .appointment-image {
    display: none !important;
  }
}
